head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width")
  title= title
  link(rel="stylesheet", href="../css/stylesheet.min.css")
  link(rel="stylesheet", href="../css/animate.css")
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  script(src='/js/jquery.min.js')
  script(src='/js/bootstrap.min.js')
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-GOgmWRmDOS6Ir9pNoBpdE_W-uAiHlTM&libraries=places")
  script.
    var userJSON = !{JSON.stringify(user)}
