head
  meta(charset="UTF-8")
  title= title
  link(rel="stylesheet", href="../css/stylesheet.min.css")
  link(rel="stylesheet", href="../css/animate.css")
  script(src='/jquery/jquery.js')
  script.
    var userJSON = !{JSON.stringify(user)}
