//compiled: ./stylesheet.css.min
$header : rgb(17, 81, 246)
$base : #eee

body, html
  font-family: "Noto Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif
  font-weight: 100
  // background-image: url('../images/br2.jpg')
  background-size: 100% auto
  background-repeat: repeat
  height: 100%
  // background: -moz-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%)
  // background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%)
  background: -moz-linear-gradient(-45deg, #e0e0e7 0, #e0e0e7 25%, #8cc6f1 50%, #a5abfa 75%, #a5abfa 100%)
  background: -webkit-linear-gradient(-45deg, #e0e0e7 0, #e0e0e7 25%, #8cc6f1 50%, #a5abfa 75%, #a5abfa 100%)

body
  min-height: 100%
  position: relative
  font-size: 1.2em
  background-color: rgba(mix(dodgerblue, black, 25%), 0.0625)

header > *
  margin: 20px

header a
  text-decoration: none

// aside
//   // background-color: rgb(32,39,73)
//   position: absolute
//   right: 0
//   bottom: 0
//   height: 100%
//   width: 400px
//   z-index: -2

#app



main.chatroom
  width: 400px
  height: inherit
  top: auto !important
  left: auto !important
  font-size: .7em
  overflow:   scroll
  position:   relative


main section
  // border: 1px solid #b3acac
  border-radius: 3px

li
  list-style: none

img.userPhoto
  border-radius: 100px
  position: relative
  top: 40px

button
  font-size: 1em
  color: $base
  text-align: center
  border: none
  border-radius: 5%
  padding: 10px
  margin: 0 10px

button#fb
  background-color: $header

button#logout
  background-color: red

button#dashboard
  background-color: green

// .my-gallery-class > li
//   display: inline
//   text-align: center

form
  text-align: left
  margin: 100px 0 50px 0
  input
    background: #f0f0f0
    border: none
    border-left: 2px solid #fff
    font-size: 36px
    font-family: 'Montserrat', sans-serif
    padding: 20px
    margin-bottom: 15px
    transition: background 1.5s, border-left 2s
    width: 600px
    &:focus
      background: #fff
      border-left: 10px solid green
      box-shadow: none
      outline: none
      transition: background 1s, border-left 1s


.clicked
  background-color: $header - 50 !important
  opacity: 50%

//chatrooms page
.chatrooms
  width: 500px !important

.newRoom, .roomList, .userBlock
  border: 1px black solid

// userBlock
.userBlock
  background-color: $base
  // text-align: left !important

// newRoom
.newRoom
  background-color: $base - 100
  padding: 20px

// room list
.roomList
  background-color: $base
  text-align: left !important

ul.roomList
  list-style: none
  text-align: center
  margin: 0
  padding: 10px 0 10px 0

ul.roomList li
  padding: 15px 0 0 0

// room message
.newMsg textarea
  resize: none
  word-wrap: normal
  font-weight: 100
  font-size: 3em
  background: none
  color: white
  -webkit-box-shadow: none !important
  box-shadow: none !important
  border: 0
  padding: 0
  width: 90%
  margin-bottom: 10px
  // padding: 15px
  margin-top: 30px
  position: fixed
  bottom: 0
  width: 350px
  right: 20px
  border-bottom: 2px solid
  //border-bottom-image-source: linear-gradient(rgba(0, 51, 102, 0.5), rgba(0, 0, 51, 0.5))
  // border-width: 5pt
  // border-image-slice: 1
  // line-height: 1em

textarea:focus
  outline: none

textarea[type='text']
  line-height: 28px
ul.msgs li
  // text-align: right !important
  margin-right: 2%

ul.msgs p
  color: #ffffff

ul.msgs
  overflow:   auto
  position:   absolute
  bottom:     0
  width: 400px
  max-height: 100%
  margin-bottom: 70px
// room styling
@function em($value)
  @return $value / 16 * 1em

*, *::before, *::after
  margin: 0
  border: 0
  padding: 0
  //word-wrap: break-word
  box-sizing: border-box


/* MIXIN STARTS HERE
/* Requires LifeSaver Sass mixin linked externally
=friendChatBubble($radius: 8, $color: green, $proportional: false)
  $tail: $radius * 1.5
  $half: $radius * 0.5
  $double: $radius * 2
  display: inline-block
  margin: em($half)
  max-width: 400px
  min-height: em($double)
  // @include padding($half $tail, em);
  padding: em($half) em($tail)
  position: relative
  border-radius: em($radius)
  line-height: 1.5
  color: white
  background-color: $color
  @if $proportional == true
    p
      font-size: em($radius)
  &::before
    content: ''
    display: block
    width: em($tail + 1)
    height: em($radius)
    // @include absolute(x ($radius - $tail) 0 x, em);
    position: absolute
    left: em($radius - $tail)
    bottom: 0
    border-right: em($radius) solid $color
    border-bottom-right-radius: 100%
    z-index: -1

=bubble($radius: 8, $color: dodgerblue, $proportional: false)
  $tail: $radius * 1.5
  $half: $radius * 0.5
  $double: $radius * 2
  display: inline-block
  margin: em($half)
  max-width: 400px
  min-height: em($double)
  // @include padding($half $tail, em);
  padding: em($half) em($tail)
  position: relative
  border-radius: em($radius)
  line-height: 1.5
  color: white
  background-color: $color
  @if $proportional == true
    p
      font-size: em($radius)
  &::before
    content: ''
    display: block
    width: em($tail)
    height: em($radius)
    // @include absolute(x ($radius - $tail) 0 x, em);
    position: absolute
    right: em($radius - $tail)
    bottom: 0
    border-left: em($radius) solid $color
    border-bottom-left-radius: 100%
    z-index: -1

.chat-bubble-center
  text-align: right

.chatBubble
  +bubble(32, #40a6bd)

.friendChatBubble
  +friendChatBubble(32, #35c1bf)


// cards
article
  width: 100%
  text-align: center

.cardWell
  background-color: rgba(255, 255, 255, .6)
  padding: 30px
  //z-index: -999
  text-align: center
  position: absolute
  bottom: 0
  left: 0
  width: 100%

.card
  width: 360px
  height: 280px
  margin: auto 30px
  background-color: rgba(250,255,255, .8)
  color: whitergba(80, 82, 78, 0.75)
  z-index: 999
  display: inline-flex
  box-shadow: 1px 2px 60px #1f2025

.card > *
  opacity: 1

.card > h1
  font-size: 1.7em
  font-weight: lighter
  margin-left: 20px
  margin-top: 20px

.card:first-of-type p
  margin: 50px -40px

.card > p
  padding: 10%
  margin: 50px -25px
  text-align: left
  font-size: 1.12em

.centerMasonry
  width: 100%
  text-align: center
  padding-bottom: 60px


.my-gallery-class
  // max-width: 990px
  margin: 2px auto
  line-height: 1.4
  padding-left: 0
  // display: none

.grid-item
  margin-bottom: 20px

.grid-item > img,
  border-top-right-radius: 10%

.grid-item:hover


/* Smartphones (portrait and landscape) -----------  */
@media screen and (max-width:680px)
  body, html
    background: -moz-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%)
    background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%)

  input
    width: 100% !important

  header.span
    margin: 2% auto

  header nav
    margin: 4% auto

  div.ctaText > *
    margin: 25% 5%

  article.cardWell
    position: static !important

  .card
    width: 100% !important
    margin: 20px auto

  .card > p
    padding: 0%
    margin: 0px 0px

  .image-element-class
    width: 100%

  .image-element-class > img
    width: 100%
